.all-tabl {
  margin-top: 2vw;
}

.table-tabl {
  margin-left: 1vw;
}

.table-string {
  background: #C4C4C4;
  margin-left: 1vw;
  display: flex;
}

.bottom-p {
  padding: 1vw 0vw 1vw 1vw;
  width: 19vw;
}

.bottom-p-end {
  padding: 1vw 0vw 1vw 1vw;
  width: 15vw;
}

.bottom-p1 {
  padding: 1vw 0vw 1vw 1vw;
  border: 1px solid #000000;
  width: 19vw;
}

.bottom-p-left {
  margin-left: 1vw;
  padding: 1vw 0vw 1vw 1vw;
  border: 1px solid #000000;
  width: 18vw;
}

.bottom-p-end1 {
  padding: 1vw 0vw 1vw 1vw;
  border: 1px solid #000000;
  width: 14.5vw;
}

.but {
  padding-left: 4vw;
}
