.all-tabl {
  margin-top: 2vw;
}

.table-tabl {
  margin-left: 1vw;
  border-spacing: none;
  width: 96vw;
}

.table-string {
  background: #C4C4C4;
  margin-left: 1vw;
  display: flex;
}

.table-bottom-string {
  margin-left: 1vw;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
}

.bottom-p {
  padding: 1vw 0vw 1vw 1vw;
  width: 19vw;
}

.bottom-p1 {
  padding: 1vw 0vw 1vw 1vw;
  border-right: 1px solid #000000;
  width: 19vw;
}

.bottom-p-left1 {
  margin-left: 1vw;
  padding: 1vw 0vw 1vw 1vw;
  border-right: 1px solid #000000;
  width: 18vw;
}

.bottom-p-end1 {
  padding: 1vw 0vw 1vw 1vw;
  width: 14.5vw;
}

.but {
  padding-left: 4vw;
}

.sort {
  font-size: 30pt;
  text-align: right;
  margin-top: 1vw;
  margin-right: 5vw;
}

.str-filter {
  display: flex;
  margin-left: 65vw;
}