.head {
  position: absolute;
  display: flex;
  width: 98vw;
  height: 6vw;
  background: #C5E9FF;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.registrH1{
  display: flex;
  align-items: center;
  padding-left: 35vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.headerImg{
  margin-left: 1vw;
  margin-top: 1vw;
}

.HeaderExit {
  display: flex;
  padding-left: 30vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}