.all1 {
  position: relative;
  background-color: rgba(197, 233, 255, 0.72);
}

.bodyImg1 {
  position: absolute;
  left: 8.33%;
  top: 15vw;
}

.registrWindow1 {
  position: absolute;
  width: 30vw;
  height: 27vw;
  left: 40vw;
  top: 10vw;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 4px;
}

.registrSpan1{
  margin: 2vw;
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.registrUpInput1 {
  margin-bottom: 3%;
  margin-left: 1vw;
  margin-right: 1vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.inputRegistr1 { 
  width: 27vw;
  height: 3vw;
  margin-bottom: 3%;
  margin-left: 1vw; 
  margin-right: 1vw;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 20pt;
  padding-left: 1vw;
}

.buttonRegistr1 {
  width: 5vw;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;  
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  margin-left: 12vw;
  padding-left: 1vw;
}

.signIn1 {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 21px;
  padding-top: 1vw;
}

::placeholder1 {
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  padding-left: 1vw;
}